.transMenu236 {
 position:absolute ; 
 overflow:hidden; 
 left:-1000px; 
 top:-1000px; 
}
.transMenu236 .content {
 position:absolute  ; 
}
.transMenu236 .items {
 border: 1px solid #C2C2C4 ; 
 position:relative ; 
 left:0px; top:0px; 
 z-index:2; 
}
.transMenu236  td
{
 padding: 2px 5px 2px 5px  !important;  
 font-size: 12px !important ; 
 font-family: Tahoma, Arial, sans-serif !important ; 
 text-align: right !important ; 
 font-weight: normal !important ; 
 color: #FFFFFF !important ; 
 border-bottom: 1px dotted #98DBE7;
} 
#subwrap236 
{ 
 text-align: left ; 
}
.transMenu236  .item.hover td
{ 
 color: #00029F !important ; 
}
.transMenu236 .item { 
 height: 20px; text-decoration: none ; 
 cursor:pointer; 
 cursor:hand; 
}
.transMenu236 .background {
 background-color: #3A95AD !important ; 
 position:absolute ; 
 left:0px; top:0px; 
 z-index:1; 
 opacity:1; 
 filter:alpha(opacity=100) 
}
.transMenu236 .shadowRight { 
 position:absolute ; 
 z-index:3; 
 top:-3000px; width:2px; 
 opacity:1; 
 filter:alpha(opacity=100)
}
.transMenu236 .shadowBottom { 
 position:absolute ; 
 z-index:1; 
 left:-3000px; height:2px; 
 opacity:1; 
 filter:alpha(opacity=100)
}
.transMenu236 .item.hover {
 background-color: #349DB8 !important ; 
}
.transMenu236 .item img { 
 margin-left:10px !important ; 
}
table.menu236 {
 top: 0px; 
 left: 0px; 
 position:relative ; 
 margin:0px !important ; 
 border: 1px solid #C2C2C4 ; 
 z-index: 1; 
}
table.menu236 a{
 margin:0px !important ; 
 padding: 2px 5px 2px 5px  !important ; 
 display:block !important; 
 position:relative !important ; 
}
div.menu236 a,
div.menu236 a:visited,
div.menu236 a:link {
 width:203px; 
 height:20px; 
 font-size: 12px !important ; 
 font-family: Tahoma, Arial, sans-serif !important ; 
 text-align: right !important ; 
 font-weight: normal !important ; 
 color: #FFFFFF !important ; 
 text-decoration: none !important ; 
 margin-bottom:0px !important ; 
 display:block !important; 
 white-space:nowrap ; 
}
div.menu236 td {
 border-bottom: 1px dotted #98DBE7 ; 
 background-color: #3A95AD !important ; 
 line-height: 20px;
} 
div.menu236 td.last236 {
 border-bottom: 1px dotted #98DBE7 ; 
} 
#trans-active236 a{
 color: #00029F !important ; 
 background-color: #349DB8 !important ; 
} 
#menu236 a.hover   { 
 color: #00029F !important ; 
 background-color: #349DB8 !important ; 
}
#menu236 span {
 display:none; 
}
#menu236 a img.seq1,
.transMenu236 img.seq1,
{
 display:    inline; 
}
#menu236 a.hover img.seq2,
.transMenu236 .item.hover img.seq2 
{
 display:   inline; 
}
#menu236 a.hover img.seq1,
#menu236 a img.seq2,
.transMenu236 img.seq2,
.transMenu236 .item.hover img.seq1
{
 display:   none; 
}
#trans-active236 a img.seq1
{
 display: none;
}
#trans-active236 a img.seq2
{
 display: inline;
}